@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Bengali:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* font family  */

  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Noto Serif", serif;

  /* font color  */

  --secondary-text-color: #e95a08;
  --text-color: #b4aeae;

  /* font size  */

  --fs-p: 1rem; /* 16px */
  --fs-small: 0.875rem; /* 14px */
  --fs-caption: 0.75rem; /* 12px */
  --fs-h1: 2.5rem; /* 40px */
  --fs-h1-base: 4.0625rem; /* 65px  */
  --fs-h2: 2rem; /* 32px */
  --fs-h3: 1.75rem; /* 28px */
  --fs-h4: 1.5rem; /* 24px */
  --fs-h5: 1.25rem; /* 20px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html,
body {
  font-family: var(--primary-font-family);
}

header,
main,
footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

/* nav design  */

header > nav > a > img {
  width: 100px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

header > nav > .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header > nav > .nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

header > nav > .nav-links > ul > li > a {
  font-weight: 500;
}

header > nav > .nav-links > ul > li > a:hover {
  color: inherit;
}

/* banner design  */

.header-image {
  display: flex;
  align-items: end;
  margin-top: 120px;
}

.header-image > .image > img {
  height: 440px;
  width: 570px;
  object-fit: cover;
}

.header-image > .header-content > h1 {
  font-size: var(--fs-h1-base);
  font-family: var(--secondary-font-family);
  line-height: 1.5;
  padding-right: 80px;
}

.header-image > .header-content > h1 > span {
  color: var(--secondary-text-color);
}

.header-image > .header-content > p {
  color: var(--text-color);
  font-size: 22px;
  padding-right: 120px;
  line-height: 1.5;
}

@media (max-width: 560px) {
  .nav-links > ul > li {
    display: none;
  }

  .nav-links > p {
    margin-top: 10px;
  }

  .header-image {
    flex-direction: column;
  }

  .header-content {
    order: 2;
  }

  .header-image > .header-content > h1 {
    font-size: var(--fs-h1);
  }

  .header-image > .header-content > p {
    font-size: var(--fs-small);
  }

  .image {
    order: 1;
  }
}

/* product card section  */

.product-card {
  margin-top: 100px;
  margin-bottom: 50px;
}

.product-card > h1 {
  font-size: var(--fs-h1-base);
  font-family: var(--secondary-font-family);
  text-align: center;
  line-height: 1.5;
}

.product-card > h1 > span {
  color: var(--secondary-text-color);
}

.product-card > p {
  text-align: center;
  color: var(--text-color);
  font-size: 22px;
  line-height: 1.5;
  padding: 0 150px;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.grid-list > p {
  font-size: var(--fs-h5);
}

.grid-list > span {
  font-size: var(--fs-h5);
  font-weight: 700;
}

.grid-list > button {
  padding: 15px 25px;
  width: 250px;
  border: none;
  background-color: var(--secondary-text-color);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 560px) {
  .product-card > h1 {
    font-size: var(--fs-h1);
  }

  .product-card > p {
    font-size: var(--fs-small);
    padding: 10px 80px;
  }

  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .grid-list > button {
    width: 180px;
    padding: 20px;
    font-size: var(--fs-h6);
    font-weight: 700;
  }
}

/* trusted seller */

.badge-content {
  margin-top: 180px;
  display: flex;
  gap: 120px;
}

.badge-image {
  position: relative;
}

.image-2 {
  position: absolute;
  top: -120px;
  left: 330px;
}

.image-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;
}

.image-content > h1 {
  font-size: var(--fs-h1-base);
  font-family: var(--secondary-font-family);
}

.image-content > ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 22px;
  color: var(--text-color);
  padding-right: 90px;
}

@media (max-width: 560px) {
  .badge-content {
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
  }

  .image-2 {
    display: none;
  }

  .image-content > h1 {
    font-size: var(--fs-h1);
  }

  .image-content > ul {
    font-size: var(--fs-h5);
    margin-left: 40px;
    padding: 0 5px;
  }
}

/* Latest deals */

.deal-section {
  margin-top: 160px;
}

.deal-content {
  margin-bottom: 120px;
}

.deal-content > h1 {
  text-align: center;
  font-size: var(--fs-h1-base);
  font-family: var(--secondary-font-family);
  margin-bottom: 30px;
}

.deal-content > h1 > span {
  color: var(--secondary-text-color);
}

.deal-content > p {
  color: var(--text-color);
  font-size: 22px;
  padding: 0 140px;
  text-align: center;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 30px;
}

.grid1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./flowers/deal-bloom.png) center/cover no-repeat;
  border-radius: 20px;
  padding-top: 70px;
}

.grid1 > h1 {
  font-size: 22px;
  color: white;
  font-family: var(--secondary-font-family);
  text-align: center;
}

.grid1 > p {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;
  color: white;
  padding-top: 10px;
  text-align: center;
}

.grid2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./flowers/deal-zabo.png) center/cover no-repeat;
  border-radius: 20px;
  grid-area: span 2 / span 2;
  padding-top: 170px;
}

.grid2 > h1 {
  font-size: var(--fs-h1);
  color: white;
  font-family: var(--secondary-font-family);
  text-align: center;
}

.grid2 > p {
  font-size: var(--fs-h3);
  color: white;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  padding-top: 10px;
}

.grid3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./flowers/deal-ana.png) center/cover no-repeat;
  border-radius: 20px;
  padding-top: 70px;
}

.grid3 > h1 {
  font-size: 22px;
  color: white;
  font-family: var(--secondary-font-family);
  text-align: center;
}

.grid3 > p {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;
  color: white;
  padding-top: 10px;
  text-align: center;
}

@media (max-width: 560px) {
  .deal-content > h1 {
    font-size: var(--fs-h1);
  }

  .deal-content > p {
    font-size: var(--fs-h5);
    padding: 0;
    text-align: center;
    margin-left: 25px;
  }
  .grid-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 200px);
    margin-left: 20px;
  }

  .grid-content > .grid2 {
    grid-area: span 1 / span 1;
    padding-top: 70px;
  }

  .grid2 > h1 {
    font-size: 22px;
  }

  .grid2 > p {
    font-size: 18px;
  }
}

/* Form section */

.form-section {
  background-image: url(./flowers/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 100%;
  height: 400px;
  padding-top: 150px;
}

.form-section > h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: var(--secondary-font-family);
}

.form-section > form {
  margin-top: 20px;
  margin-left: 400px;
  display: flex;
  gap: 0px;
}

.form-section > form > [type="email"] {
  padding: 10px 20px;
  width: 600px;
  color: var(--text-color);
  border: none;
}

.form-section > form > [type="button"] {
  width: 200px;
  padding: 10px 40px;
  background-color: var(--secondary-text-color);
  color: white;
  border: none;
}

@media (max-width: 560px) {
  .form-section > form {
    margin-left: 120px;
  }
  .form-section > h1 {
    font-size: 22px;
  }

  .form-section > form > [type="email"] {
    width: 200px;
  }

  .form-section > form > [type="button"] {
    width: 100px;
    padding-left: 20px;
  }
}

/* Footer Section */

footer {
  margin-top: 60px;
  min-height: 300px;
}

.footer-content {
  display: flex;
  gap: 140px;
}

.logo-content {
  margin-top: 20px;
}

.logo-content > a > img {
  width: 100px;
}

.logo-content > p {
  padding-top: 20px;
  font-size: 22px;
  color: var(--text-color);
}

.footer-content > .list1 > ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  color: var(--text-color);
  font-size: 22px;
}

.footer-content > .list2 > ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  color: var(--text-color);
  font-size: 22px;
}

.icon {
  display: flex;
  gap: 20px;
}

.icon > img {
  width: 30px;
  height: 30px;
}

@media (max-width: 560px){
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .logo-content > a > img {
    width: 150px;
  }

  .icon {
    margin-top: 20px;
  }

  .footer-content > .list2 > ul {
    margin-top: 20px;
  }
}

